// Main stylesheet

// Global
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000000, 0);
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
	background-color: #019966;
}
a {
	color: #ffcc99;
    text-decoration: none;
    &:hover, &:focus {
        color: #e8e6d8;
        text-decoration: underline;
    }
}
.main {
    height: 100%;
    min-height: 865px;
    background-image: url(../img/main-bg.svg);
    background-size: 5000px 890px;
    background-position: center top;
    @media only screen and (min-width : 992px) {
        background-size: 5000px 890px;
        background-position: calc(50% - 100px) 0;
    }
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
}
.content {
    max-width: 750px;
    padding: 0 30px;
    @media only screen and (min-width : 992px) {
        padding: 0 15px;
    }
    margin: 0 auto;
    color: #FFFFFF;
}
.hidden {
    display: none;
}
address {
    font-style: normal;
}

// Header
header.header {
    display: block;
    padding: 15px;
    svg {
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }
}

// Typography
h1 {
	margin-top: 0;
	margin-bottom: 1rem;
    font-size: 2rem;
	text-align: center;
	font-weight: normal;
    color: #FFFFFF;
    font-family: "Times New Roman",	"Times Roman", TimesNR,	times, serif;
}
h2 {
    font-size: 1.25rem;
    margin-top: 0;
	margin-bottom: 1rem;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

// Grid
.wrapper {
    display: -ms-grid;
    -ms-grid-columns: 30% 15px 70%;
    -ms-grid-rows: auto 15px auto 15px auto 15px auto 15px auto 15px auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 15px;
    > div {
        $rowColunn: 1;
        @for $i from 1 through 12 { 
            &:nth-child(#{$i}) {
                -ms-grid-row: #{$rowColunn};
                @if $i % 2 == 0 {
                    -ms-grid-column: 3;
                    $rowColunn: $rowColunn + 2;
                }
                @else {
                    -ms-grid-column: 1;
                }
            } 
        }
        p {
            margin-bottom: 2px;
        }
    }
}

// Footer
footer.footer {
    display: block;
    max-width: 750px;
    padding: 0 30px;
    margin: 20px auto 0 auto;
    color: #FFFFFF;
    text-align: center;
    p {
        font-size: 0.75rem;
        margin-top: 0;
        margin-bottom: 2px;
    }
}