<IfModule mod_rewrite.c>
    RewriteEngine On
    # ensure www.
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # ensure https
    RewriteCond %{HTTP:X-Forwarded-Proto} !https 
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Note: It’s also recommended to enable HTTP Strict Transport Security (HSTS)
    # on your HTTPS website to help prevent man-in-the-middle attacks.
    # See https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security
    <IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    </IfModule>
</IfModule>